@import "./home_screen/home_screen";
@import './lists_screen/lists_screen';
@import "./lists_screen/primary_list";
@import "./lists_screen/other_lists";

body {
    overflow: hidden;
    font-family: "Poppins", sans-serif;
}

.App {
    height: 100vh;
    width: 100vw;
}